.App{
  background-color: blanchedalmond;
  text-align: center;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;

}
.App h1{
  
  background-color: chocolate;
}

.List{
  display: flex;  
  justify-content: center;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 20px;
  background-color: aqua;
  border: 2px solid blanchedalmond;

}
li:hover{
  color: aqua;
  background-color: brown;
  border: 2px solid aquamarine;
  border-radius: 20%;
  text-transform: uppercase;

}