.App{
  background-color: blanchedalmond;
  text-align: center;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;

}
.App h1{
  color: rgb(122, 164, 37);
  background-color: rgba(209, 96, 15, 0.767);
text-decoration-style: double;
}

.List{
  display: flex;  
  justify-content: center;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 20px;
  background-color: #00ffff;
  border: 2px solid blanchedalmond;
  color: brown;
text-shadow: 14% 14% 14% aquamarine;
  padding: 1rem;
  margin: 1rem;
  
}
li:hover{
  color: green;
  background-color: rgba(216, 183, 51, 0.778);
  border: 2px solid aquamarine;
  border-radius: 20%;
  text-transform: uppercase;

}

.pstep{
  background-color: lightgreen;
  color: goldenrod;
  text-rendering: geometricPrecision;
}

